:root {
    --grey: rgba(91,91,97,1);
    --grey50: rgba(91,91,97,.5);
    --violet: rgba(190,83,236,1);
    --light-blue: rgba(0,212,255,1);
    --light-blue50: rgba(27, 83, 112, .5);
}

body {
    background: rgb(91,91,97);
    background: linear-gradient(90deg, var(--grey) 0%, var(--violet) 35%, var(--light-blue) 100%);
    /*background-color: var(--violet);*/
}

a.nav-link:hover {
    background-color: var(--violet);
    color:white;
}

.nav {
    background-color: white;
}

.card {
    margin-top: 10px;
}

.card-header {
    background: rgb(91,91,97);
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--violet) 35%, var(--grey) 100%);
}

#movie-search-results {
    margin-top: 15px;
    border-top: 1px solid var(--grey);
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: 50px 50px auto 50px;
    grid-template-rows: 50px;
}

#movie-search-results .poster img {
    height: 50px;
    align-self: center;
}

#movie-search-results .use-movie {
    flex-shrink: 2;
    align-self: center;
}

#movie-search-results .title {
    align-self: center;
}

#movie-search-results .year {
    align-self: center;
}

h2 {
    text-decoration: underline;
    color: white;
}

h3.movie-title {
    text-decoration: underline;
}

.movie-item {
    background: var(--grey50);
    margin-top: 15px;
}

.movie-item:hover {
    background: var(--light-blue50);
}

.movie-item .poster {
    height: 150px;
}

.movie-item .title {
    margin-left: 10px;
}

.movie-item .year {
    flex: 1;
    text-align: right;
    margin-right: 15px;
}

.movie-item a {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-decoration: none;
}

.movie-display {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 20px;
}

.movie-detail {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 20px;
}

@media (max-width: 775px) {
    .movie-display {
        display: block;
    }
    .movie-display img {
        display: block;
    }
    .movie-details {
        display: block;
        margin-top: 25px;
    }
}



.character-list {
    list-style: none;
    width: 100%;
}

.character-list li {
    width: 100%;
}

.character-list a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.character-list a:hover {
    background-color: var(--light-blue50);
}

.movie-link {
    padding: 2px;
    flex-shrink: 1;
    color: white;
    margin-right: 5px;
}

.pagination {
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.pagination .current {
    padding: 2px;
    vertical-align: middle;
}